@font-face {
    font-family: MaiandraGDRegular;
    src: url(../fonts/MaiandraGDRegular.ttf);
}

body {
    background-size: cover;
    background-position: fixed;
    background-color: 	#F5F5DC;
}

.wrapper-equipamento {
    text-align: center;
    display: block;
    margin: 0;
    padding: 5px;
    width: calc(160px * 1);
    height: calc(200px * 1);
    font-family: MaiandraGDRegular;
    background: #d2d2d2; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2d2d2 0%, #b7b7b7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d2d2d2 0%,#b7b7b7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d2d2d2 0%,#b7b7b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#b7b7b7',GradientType=0 ); /* IE6-9 */
}

.equipamento-identificado .identificacao,
.equipamento-identificado .tipo-equipamento{
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    color: #3b3b3b;
}

.impacto-local .referencia {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    color: #3b3b3b;
}

.impacto-local {
    text-align: center;
}

.impacto-local select {
    margin: 0;
    padding: 0;
    display: block;
    margin: 0 auto;
}



.impacto-local .referencia:hover {
    cursor: pointer;
    color: #ee4e4e;
}

.motor-eletrico h3 {
    margin: 4px;
    padding: 0;
    
}

.motor-eletrico h3:hover {
    cursor: pointer;
    color: #ee4e4e;
}

.ar-condicionado h3 {
    margin: 0;
    padding: 0;
   
}

.ar-condicionado h3:hover {
    cursor: pointer;
    color: #ee4e4e;
}


.ar-condicionado input {
    display: block;
    width: 50px;
    margin: 0 auto;
    text-align: center;
}

.termometro h3 {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.gerador-movimento .wrapper-icon-svg:hover,
.gerador-incendio .wrapper-icon-svg:hover,
.trinco-eletrico .wrapper-icon-svg:hover,
.motor-eletrico .wrapper-icon-svg:hover,
.ar-condicionado .wrapper-icon-svg:hover {
    cursor: pointer;
    
}

.gerador-movimento .wrapper-icon-svg:hover path,
.gerador-incendio .wrapper-icon-svg:hover path,
.trinco-eletrico .wrapper-icon-svg:hover path,
.motor-eletrico .wrapper-icon-svg:hover path,
.ar-condicionado .wrapper-icon-svg:hover path {
    fill: #919191;
    fill-rule: evenodd;
}


.wrapper-icon-svg {
   margin-top: 10px;
}
 
.wrapper-icon-svg-path-idle {
    fill: #3b3b3b;
    fill-rule: evenodd;
}

.wrapper-icon-svg-path-working {

    fill: #ee4e4e;
    fill-rule: evenodd;
}